<!doctype html>
<html>
<head>
    <title>Add Student</title>
</head>

<body>

  <form action="/student-add" methods="POST">
      <label>Enter First Name
          <input type="text" name="first_name" required>
      </label>
      <label>Enter Last Name
        <input type="text" name="last_name" required>
        <label>Enter GitHub Username
            <input type="text" name="github_username" required>
        </label>
    </label>
      <input type="submit" value="Add Student">
  </form>

</body>
</html>